extends template
block title 
    h1 List of created sites
block content
    table.tableau-style
      thead
        tr
          th Name of websites
          th Port
          th Status
          th.center Actions
      tbody
        each site in sites
          tr
            td= site.name
            td= site.port
            td 
              span.netstat= site.status

            td
              form.form-inline(action='/deleteSite', method='post')
                input(type='hidden', name='id', value=site._id)
                button.button-style-red(type='submit') Delete
              form.form-inline(action='/stopSite', method='post')
                input(type='hidden', name='id', value=site._id)
                button.button-style-yellow(type='submit') Stop
              form.form-inline(action='/startSite', method='post')
                input(type='hidden', name='id', value=site._id)
                button#button-submit(type='submit') Start
              script.
                document.addEventListener('DOMContentLoaded', function() {
                  const executions = document.querySelectorAll('span.netstat');
                  console.log(executions.length);
                  executions.forEach((execution) => {
                    const status = execution.innerHTML;
                    switch (status) {
                      case "Off":
                        execution.style.color = '#FF0000';
                        break;
                      case "On":
                        execution.style.color = '#008000';
                        break;
                      default:
                        execution.style.color = '#000000'; // default color if neither "Off" nor "On"
                    }
                  });
                });


