extends template
block title 
    h1 List of created sites
block content
    table.tableau-style
      thead
        tr
          th(onclick="sortTable(0)") Name of websites &#9650;&#9660;
          th(onclick="sortTable(1)") Port &#9650;&#9660;
          th(onclick="sortTable(2)") Status &#9650;&#9660;
          th.center Actions
          script.
            function sortTable(n) {
              let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
              table = document.querySelector(".tableau-style");
              switching = true;
              dir = "asc";
              
              while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                  shouldSwitch = false;
                  x = rows[i].getElementsByTagName("TD")[n];
                  y = rows[i + 1].getElementsByTagName("TD")[n];
                  if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                      shouldSwitch = true;
                      break;
                    }
                  } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                      shouldSwitch = true;
                      break;
                    }
                  }
                }
                if (shouldSwitch) {
                  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                  switching = true;
                  switchcount++;
                } else {
                  if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                  }
                }
              }
            }
      tbody
        each site in sites
          tr
            td= site.name
            td= site.port
            td 
              span.netstat= site.status

            td
              form.form-inline(action='/deleteSite', method='post')
                input(type='hidden', name='id', value=site._id)
                button.button-style-red(type='submit') Delete
              form.form-inline(action='/stopSite', method='post')
                input(type='hidden', name='id', value=site._id)
                button.button-style-yellow(type='submit') Stop
              form.form-inline(action='/startSite', method='post')
                input(type='hidden', name='id', value=site._id)
                button#button-submit(type='submit') Start
              script.
                document.addEventListener('DOMContentLoaded', function() {
                  const executions = document.querySelectorAll('span.netstat');
                  console.log(executions.length);
                  executions.forEach((execution) => {
                    const status = execution.innerHTML;
                    switch (status) {
                      case "OFF":
                        execution.style.color = '#FF0000';
                        break;
                      case "ON":
                        execution.style.color = '#008000';
                        break;
                      default:
                        execution.style.color = '#000000'; // default color if neither "Off" nor "On"
                    }
                  });
                });
